<div *ngIf="product">
    
<main class="container">
    <button type="button" (click)="goBack()">go back</button>
    <br>
    <img class="img" src="assets/img/{{urlEncode(product.product_name)}}.jpg">
    <h2>{{product.product_name}}</h2>
    <p class="card-text" [hidden]="showStock(product)"><strong>${{product.price}}</strong></p>
    <p class="card-text" [hidden]="!showStock(product)"><strong>Product Unavailable</strong></p>
    <button style="position: relative; z-index: 2;" type="button" class="btn btn-sm btn-outline-secondary " [hidden]="showStock(product)"(click)="addToCart(product)">Add to Shopping Cart</button>

    <div>
        {{product.product_description}}
    </div>
</main>
</div>